body {
  font-family: system-ui;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
h1{
  /*color:#AAACB0;*/
}
p{
  /*color:#AAACB0;*/
}
a{
  color:black;
  text-decoration:none;
}
a:link{
  text-decoration:none;
}
a:visited{
  text-decoration:none;
}
a:hover{
  color:#AAACB0;
  text-decoration:none;
}
a:active{
  text-decoration:none;
}
